body {
  background: #336633;
  color: #d5ddd5;
  font-weight: 300;
  text-shadow: 0px 1px 2px #2e382e;
  font-size: 18px;
  border-top: 6px solid #d5ddd5;
}

h1 {
  font-weight: 900;
  font-size: 4rem;
  margin: 0.5em 0;
}

@media only screen and (max-device-width: 812px) {
  h1 {
    font-size: 3rem;
  }
}

h1 span {
  text-shadow: 0px 1px 2px #394639;
  color: #3e743e;
}

a {
  color: white;
}
