---
layout: layouts/base.njk
---
<div class="container">
    <div class="home-content">
        {{ content | safe }}
    </div>
</div>
<footer class="home-footer">
    <div class="container">
        <p>&copy; Brad Daily</p>
    </div>
</footer>
